body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  nav{
    background-color: #4CAF50;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }
  footer{
    background-color: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: end;
  }
  
  .quiz-container, .landing-container, .results-container {
    background-color: white;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  h1 {
    text-align: center;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .question {
    margin-bottom: 45px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  a{
    text-decoration: none;
  }
  